<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/styles.css">
        <script src="/public/index.js" defer></script>
        <title>Document</title>
    </head>
    <body>
        <img src="/public/background.png" class="background">
        <div class="container">
            <h1>Acortador de URLs</h1>
            <form>
                <label for="originalurl">URL original<label>
                <input id="originalurl" placeholder="Ejemplo: https://google.com" required>
                <label for="newurl">URL acortada</label>
                <input id="newurl" placeholder="Ejemplo: miurl" required>
                <input type="submit" value="Acortar">
            </form>
        </div>
    </body>
</html>
